/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
}

.text-light-gray {
    color: #727272;
    /* font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px; */
}

/* header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 60px;
}

nav li>a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main section styles */
main {
    max-width: 1440px;
    margin: 80px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}
/* facts styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;
/* width: 160px;
height: 160px; */
margin-top: 80px;
}
.card .card-stats{
    font-size: 2.5rem;
font-weight: 600;
margin-bottom: 5px;
}
.card .card-title{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}
/* sponsors styles */
.sponsors{
    text-align: center;
}
.img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.hide{
    display: none;
}
/* responsive styles */
/* mobile screen devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container, .facts-card-container, .img-container {
        flex-direction: column;
    }

    nav li {
        margin-right: 40px;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    
    .teams-content, .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container .card{
    margin-top: 20px;
    }
.sponsors .img-container{
    align-items: center;
    gap: 40px;
}
.img-container img{
    width: 100px;
}
}
/* medium screen devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    nav li {
        margin-right: 50px;
    }
}